Repository Sec-ant/prettier-plugin-embed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

chore: do not hardcode `embeddedRubyParser`
  src/embedded/ruby/options.ts
Due: eslint, prettier --write

chore: release v0.4.9
  package-lock.json
  package.json
Due: prettier --write

feat: support `embeddedOverrides` config in more file formats
  README.md
  biome.json
  package-lock.json
  package.json
  scripts/import-ts-module-worker.ts
  src/utils.ts
  vite.config.ts
Due: eslint, prettier --write

docs: improve README
  README.md
Due: prettier --write

docs(README): small fix
  README.md
Due: prettier --write

chore: release v0.4.10
  package-lock.json
  package.json
Due: prettier --write

fix: types
  src/types.ts
Due: eslint, prettier --write

chore(workflow): set up changesets
  .changeset/clean-flies-remember.md
  .changeset/config.json
  package-lock.json
  package.json
  patches/bumpp+9.3.0.patch
Due: prettier --write

chore: add changeset
  .changeset/three-sloths-retire.md
Due: prettier --write

chore(release): v0.4.11
  .changeset/clean-flies-remember.md
  .changeset/three-sloths-retire.md
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: cleanup and bump deps
  .ncurc.cjs
  package-lock.json
  package.json
Due: prettier --write

fix: regression of formatting template literals with only whitespaces
  .changeset/thin-snakes-drop.md
  src/printers.ts
  src/utils.ts
Due: eslint, prettier --write

chore(release): v0.4.12
  .changeset/thin-snakes-drop.md
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(ci): add release workflow
  .github/workflows/release.yml
  .nvmrc
Due: none

chore(ci): fix changeset publish step
  .github/workflows/release.yml
Due: none

chore(ci): update actions versions
  .github/workflows/release.yml
Due: none

chore(ci): change changeset version command
  .github/workflows/release.yml
Due: none

chore(ci): add npm package provenance
  .github/workflows/release.yml
Due: none

docs: try add all-contributors
  .all-contributorsrc
  README.md
Due: prettier --write

chore(ci): fix and update
  .all-contributorsrc
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/release.yml
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  .vscode/settings.json
  package.json
  vite.config.ts
Due: eslint, prettier --write

fix: regression caused by a wrong import specifier
  .changeset/warm-melons-happen.md
  src/utils.ts
Due: eslint, prettier --write

chore(ci): fix provenance permission
  .github/workflows/release.yml
Due: none

chore: bump deps
  package-lock.json
  package.json
Due: prettier --write

fix: language plugin check
  .changeset/angry-countries-serve.md
  src/embedded/glsl/embedder.ts
  src/embedded/ini/embedder.ts
  src/embedded/java/embedder.ts
  src/embedded/jsonata/embedder.ts
  src/embedded/latex/embedder.ts
  src/embedded/nginx/embedder.ts
  src/embedded/pegjs/embedder.ts
  src/embedded/php/embedder.ts
  src/embedded/prisma/embedder.ts
  src/embedded/properties/embedder.ts
  src/embedded/pug/embedder.ts
  src/embedded/ruby/embedder.ts
  src/embedded/sh/embedder.ts
  src/embedded/sql/embedder.ts
  src/embedded/toml/embedder.ts
  src/embedded/utils.ts
  src/embedded/xml/embedder.ts
Due: eslint, prettier --write

fix: biome in codesandbox ci
  .codesandbox/ci.json
  package.json
  scripts/pre-ci.sh
Due: prettier --write

chore: use `jq`
  scripts/pre-ci.sh
Due: none

chore(ci): use biome in codesandbox ci
  .codesandbox/ci.json
  package.json
  scripts/pre-ci.sh
Due: prettier --write

chore: rename `pre-ci.sh` to `prepare.sh`
  package.json
  scripts/prepare.sh
Due: prettier --write

chore: bump deps and rearrange ts configs
  package-lock.json
  package.json
  tsconfig.base.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.production.json
Due: prettier --write

fix(md): unstable code block indentation
  src/embedded/markdown/embedder.ts
Due: eslint, prettier --write

chore: add comments and format
  src/embedded/markdown/embedder.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.ts
  prettier --write: any of: *.{ts,js,md,json}
