Repository Sec-ant/prettier-plugin-embed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

chore: add changeset
  .changeset/rotten-crabs-tie.md
Due: prettier --write

fix(md): unstable code block indentation (#91)
  .changeset/rotten-crabs-tie.md
  src/embedded/markdown/embedder.ts
Due: eslint, prettier --write

fix(options): wrong fallback behaviors
  .changeset/many-otters-applaud.md
  src/embedded/css/options.ts
  src/embedded/es/options.ts
  src/embedded/glsl/options.ts
  src/embedded/graphql/options.ts
  src/embedded/html/options.ts
  src/embedded/index.ts
  src/embedded/ini/options.ts
  src/embedded/java/options.ts
  src/embedded/json/options.ts
  src/embedded/jsonata/options.ts
  src/embedded/latex/options.ts
  src/embedded/markdown/options.ts
  src/embedded/nginx/options.ts
  src/embedded/noop/options.ts
  src/embedded/pegjs/options.ts
  src/embedded/php/options.ts
  src/embedded/prisma/options.ts
  src/embedded/properties/options.ts
  src/embedded/pug/options.ts
  src/embedded/ruby/options.ts
  src/embedded/sh/options.ts
  src/embedded/sql/options.ts
  src/embedded/toml/options.ts
  src/embedded/ts/options.ts
  src/embedded/utils.ts
  src/embedded/xml/options.ts
  src/embedded/yaml/options.ts
  src/utils.ts
Due: eslint, prettier --write

fix(`css`): embedded `css` formatting behavior
  .changeset/silver-rings-dress.md
  src/embedded/css/embedder.ts
Due: eslint, prettier --write

chore: prettier ignore `.all-contributorsrc`
  .prettierignore
Due: none

chore: bump deps
  biome.json
  package-lock.json
  package.json
  src/embedded/utils.ts
  src/embedded/xml/parser.ts
  tsconfig.base.json
  tsconfig.json
Due: eslint, prettier --write

fix: upgrade type-fest from 4.21.0 to 4.22.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade type-fest from 4.21.0 to 4.22.1
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade type-fest from 4.21.0 to 4.23.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @types/estree from 1.0.5 to 1.0.6
  package-lock.json
  package.json
Due: prettier --write

feat: support shorthand for CallExpression as tag
  .changeset/dirty-ghosts-roll.md
  src/utils.ts
  test/__snapshots__/fixtures.spec.ts.snap
  test/fixtures.spec.ts
  test/fixtures/137.js
Due: eslint, prettier --write

ci: remove broken biome-cli-codesandbox
  .codesandbox/ci.json
  package.json
  scripts/prepare.sh
Due: prettier --write

chore: use pnpm
  .codesandbox/ci.json
  .github/actions/setup/action.yml
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .lintstagedrc.json
  .node-version
  .npmrc
  .nvmrc
  .simple-git-hooks.json
  biome.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  renovate.json
  scripts/add-glob-import-types.ts
  src/types.ts
  tests/__snapshots__/fixtures.spec.ts.snap
  tests/fixtures.spec.ts
  tests/fixtures/137.js
  tsconfig.base.json
  tsconfig.node.json
Due: eslint, prettier --write

chore: restore tsconfig types
  tsconfig.base.json
Due: prettier --write

chore: use pnpm (#141)
  .codesandbox/ci.json
  .github/actions/setup/action.yml
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .lintstagedrc.json
  .node-version
  .npmrc
  .nvmrc
  .simple-git-hooks.json
  biome.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  renovate.json
  scripts/add-glob-import-types.ts
  src/types.ts
  tests/__snapshots__/fixtures.spec.ts.snap
  tests/fixtures.spec.ts
  tests/fixtures/137.js
  tsconfig.node.json
Due: eslint, prettier --write

chore: renovate ignore chevrotain
  renovate.json
Due: prettier --write

fix: add extensions to relative path import specifiers
  .changeset/pink-nails-reply.md
  src/embedded/css/embedder.ts
  src/embedded/es/embedder.ts
  src/embedded/glsl/embedder.ts
  src/embedded/graphql/embedder.ts
  src/embedded/html/embedder.ts
  src/embedded/ini/embedder.ts
  src/embedded/java/embedder.ts
  src/embedded/json/embedder.ts
  src/embedded/jsonata/embedder.ts
  src/embedded/latex/embedder.ts
  src/embedded/markdown/embedder.ts
  src/embedded/nginx/embedder.ts
  src/embedded/pegjs/embedder.ts
  src/embedded/php/embedder.ts
  src/embedded/prisma/embedder.ts
  src/embedded/properties/embedder.ts
  src/embedded/pug/embedder.ts
  src/embedded/ruby/embedder.ts
  src/embedded/sh/embedder.ts
  src/embedded/sql/embedder.ts
  src/embedded/toml/embedder.ts
  src/embedded/ts/embedder.ts
  src/embedded/utils.ts
  src/embedded/xml/embedder.ts
  src/embedded/yaml/embedder.ts
  src/types.ts
  src/utils.ts
  tests/fixtures.spec.ts
Due: eslint, prettier --write

Update biome.json
  biome.json
Due: prettier --write

chore: apply suggestions
  src/embedded/utils.ts
  tests/fixtures.spec.ts
Due: eslint, prettier --write

chore(ci): fix workflows
  .github/actions/setup/action.yml
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .prettierignore
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: remove unused imports
  tests/fixtures.spec.ts
Due: eslint, prettier --write

chore: nitpick
  tests/__snapshots__/fixtures.spec.ts.snap
  tests/fixtures.spec.ts
  tests/fixtures/ruby/basic.js
  tests/fixtures/yaml/basic.js
Due: eslint, prettier --write

fix: add Ruby setup to CI test workflow
  .github/workflows/test.yml
Due: none

chore: add installation step for Ruby gems in CI workflow
  .github/workflows/test.yml
Due: none

fix(ruby): update ruby test snapshots
  tests/__snapshots__/fixtures.spec.ts.snap
Due: none

fix(prisma, xml): formatting behavior for embedded `prisma` and `xml`
  .changeset/icy-impalas-laugh.md
  src/embedded/prisma/embedder.ts
  src/embedded/xml/parser.ts
  tests/__snapshots__/fixtures.spec.ts.snap
  tests/fixtures/html/options.json
  tests/fixtures/prisma/basic.js
  tests/fixtures/xml/options.json
Due: eslint, prettier --write

fix(ci): test workflow
  .github/actions/test/action.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

fix: more prettier related import specifiers
  src/parsers.ts
  src/patch-prettier.d.ts
  src/printers.ts
Due: eslint, prettier --write

chore: bump pnpm and deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint: any of: *.ts
  prettier --write: any of: *.{ts,js,md,json}
