Repository Sec-ant/prettier-plugin-embed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint"],
  "*.{ts,js,md,json}": ["prettier --write"]
}

feat: support `pegjs`
  README.md
  package-lock.json
  package.json
  src/embedded/es/options.ts
  src/embedded/pegjs/embedder.ts
  src/embedded/pegjs/index.ts
  src/embedded/pegjs/language.ts
  src/embedded/pegjs/options.ts
  src/embedded/ts/options.ts
Due: eslint, prettier --write

feat: support `nginx`
  README.md
  package-lock.json
  package.json
  src/embedded/nginx/embedder.ts
  src/embedded/nginx/index.ts
  src/embedded/nginx/language.ts
  src/embedded/nginx/options.ts
Due: eslint, prettier --write

feat: support `jsonata`
  README.md
  package-lock.json
  package.json
  src/embedded/jsonata/embedder.ts
  src/embedded/jsonata/index.ts
  src/embedded/jsonata/language.ts
  src/embedded/jsonata/options.ts
Due: eslint, prettier --write

feat: support `pug`
  README.md
  package-lock.json
  package.json
  src/embedded/pug/embedder.ts
  src/embedded/pug/index.ts
  src/embedded/pug/language.ts
  src/embedded/pug/options.ts
Due: eslint, prettier --write

feat: support `prisma`
  README.md
  package-lock.json
  package.json
  src/embedded/prisma/embedder.ts
  src/embedded/prisma/index.ts
  src/embedded/prisma/language.ts
  src/embedded/prisma/options.ts
Due: eslint, prettier --write

feat: support `java`
  README.md
  package-lock.json
  package.json
  src/embedded/java/embedder.ts
  src/embedded/java/index.ts
  src/embedded/java/language.ts
  src/embedded/java/options.ts
Due: eslint, prettier --write

chore: release v0.4.8
  package-lock.json
  package.json
Due: prettier --write

fix(README): typos
  README.md
Due: prettier --write

chore: patch `bumpp` for `package-lock.json`
  package-lock.json
  package.json
  patches/bumpp+9.3.0.patch
Due: prettier --write

chore: biome lint and format
  biome.json
  package-lock.json
  package.json
  src/embedded/markdown/embedder.ts
  src/types.ts
Due: eslint, prettier --write

fix(ci): move `patch-package` to `prebump`
  package-lock.json
  package.json
Due: prettier --write

chore: fix ci
  .codesandbox/ci.json
  package.json
Due: prettier --write

chore: use type utilities from `type-fest`, rearrange code
  ConfigExamples.md
  src/embedded/css/options.ts
  src/embedded/es/options.ts
  src/embedded/glsl/options.ts
  src/embedded/graphql/options.ts
  src/embedded/html/options.ts
  src/embedded/index.ts
  src/embedded/ini/options.ts
  src/embedded/java/options.ts
  src/embedded/json/options.ts
  src/embedded/jsonata/options.ts
  src/embedded/latex/options.ts
  src/embedded/markdown/options.ts
  src/embedded/nginx/options.ts
  src/embedded/noop/options.ts
  src/embedded/pegjs/options.ts
  src/embedded/php/options.ts
  src/embedded/prisma/options.ts
  src/embedded/properties/options.ts
  src/embedded/pug/options.ts
  src/embedded/ruby/options.ts
  src/embedded/ruby/plugin-ruby-types.ts
  src/embedded/sh/options.ts
  src/embedded/sql/options.ts
  src/embedded/toml/options.ts
  src/embedded/ts/options.ts
  src/embedded/types.ts
  src/embedded/utils.ts
  src/embedded/xml/options.ts
  src/embedded/yaml/options.ts
  src/global.d.ts
  src/options.ts
  src/patch-estree.d.ts
  src/patch-prettier.d.ts
  src/plugin-embed.d.ts
  src/types.ts
Due: eslint, prettier --write

fix: language specific type issues
  .gitignore
  package-lock.json
  package.json
  scripts/nocheck-chevrotain-types.ts
  src/embedded/index.ts
  src/embedded/ini/plugin-ini-types.ts
  src/embedded/ini/plugin-ini.d.ts
  src/embedded/java/plugin-java-types.ts
  src/embedded/java/plugin-java.d.ts
  src/embedded/markdown/plugin-markdown-types.ts
  src/embedded/markdown/plugin-markdown.d.ts
  src/embedded/nginx/plugin-nginx-types.ts
  src/embedded/nginx/plugin-nginx.d.ts
  src/embedded/pegjs/plugin-pegjs-types.ts
  src/embedded/pegjs/plugin-pegjs.d.ts
  src/embedded/php/plugin-php-types.ts
  src/embedded/php/plugin-php.d.ts
  src/embedded/properties/plugin-properties-types.ts
  src/embedded/properties/plugin-properties.d.ts
  src/embedded/pug/plugin-pug-types.ts
  src/embedded/pug/plugin-pug.d.ts
  src/embedded/ruby/plugin-ruby-types.ts
  src/embedded/ruby/plugin-ruby.d.ts
  src/embedded/sh/plugin-sh-types.ts
  src/embedded/sh/plugin-sh.d.ts
  src/embedded/sql/plugin-sql-cst-types.ts
  src/embedded/sql/plugin-sql-cst.d.ts
  src/embedded/sql/plugin-sql-types.ts
  src/embedded/sql/plugin-sql.d.ts
  src/embedded/toml/plugin-toml-types.ts
  src/embedded/toml/plugin-toml.d.ts
  src/embedded/utils.ts
  src/embedded/xml/plugin-xml-types.ts
  src/embedded/xml/plugin-xml.d.ts
  src/plugin-embed.d.ts
  src/types.ts
Due: eslint, prettier --write

chore: remove some unnecessary exports
  src/index.ts
  src/types.ts
  src/utils.ts
Due: eslint, prettier --write

docs: improve README
  README.md
Due: prettier --write

chore(ci): move `patch-package` to `prepare`
  package.json
Due: prettier --write

chore(ci): fix `bumpp` patch
  patches/bumpp+9.3.0.patch
Due: none

chore(ci): fix `bumpp` patch
  package.json
  patches/bumpp+9.3.0.patch
Due: prettier --write

chore: husky -> simple-git-hooks
  .husky/pre-commit
  .simple-git-hooks.json
  package-lock.json
  package.json
Due: prettier --write

chore: trivial adjustments
  package.json
Due: prettier --write

fix(subpath-exports): hide private files
  package.json
Due: prettier --write

fix: plugin options normalization
  src/embedded/nginx/plugin-nginx-types.ts
  src/embedded/sh/plugin-sh-types.ts
  src/embedded/sql/plugin-sql-cst-types.ts
  src/embedded/sql/plugin-sql-types.ts
  src/embedded/toml/plugin-toml-types.ts
  src/embedded/utils.ts
Due: eslint, prettier --write

chore: put `copy-files-from-to` settings in a separate file
  copy-files-from-to.json
  package.json
Due: prettier --write
